{%extends '::frontend.html.twig'%}

{% block body %}
    <h1>Bienvenidos</h1>
    
    <p>
        Hola <span class="label label-primary"> {{app.session.get('nombre')}} </span>
    </p>
    
    <p>
        <a href="{{path('logout')}}">Salir</a>
    </p>    
    
 {% endblock %}

